<html>
  <head>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.3/angular.js"></script>
    <script type="text/javascript">
      angular.module('ui.directives',[]);
    </script>
    <script type="text/javascript" src="../mask.js"></script>
    <style type="text/css">
      input, button { font-size: 14px; font-family: helvetica, arial; width:300px; text-align: left }
    </style>
  </head>
  <body ng-app="ui.directives">

    <label>
      Masked Input:<br>
      <input ui-mask="{{y}}" ng-model="x" placeholder="Specify a mask or click a button">
    </label><br>
    <label>
      Mask Defintion:<br>
      <input ng-model="y">
    </label><br><br>

    <button ng-click="y = undefined">Set mask to undefined (uninitialize)</button><br>
    <button ng-click="y = '999-9999'">Set mask to 999-9999</button><br>
    <button ng-click="y = '(999) 999-9999'">Set mask to (999) 999-9999</button><br>
    <button ng-click="y = '(999) 999-9999 ext. 999'">Set mask to (999) 999-9999 ext. 999</button>
  </body>
</html>